body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    height: 100%;
    
    
}


h1 , h2  {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    
}

p {
    color: #4A4A4A ;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
 }

 header {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     /* background-color: royalblue; */
 }

header h1 {
    flex-direction: column;
    font-size: 44px;
    margin-top: 118px ;
    /* margin-left: 64.8px; */
    margin-bottom: 0px;
    
    

}

header h1 span {
    
    color: #FF9800;
    font-weight: bold;
}

header p {
    flex-direction: column;
    font-size : 20.4px;
    flex-wrap: wrap;
    
    

}


header p span {
    text-decoration: underline #FF9800 ; 
    

}

.avatar {
    border: solid #DAAF12 ;
    border-radius: 50%;
    margin: 64px 78px 40px 80px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 384px;
    background-color: #FECA07;
}

.sidebar p {
    padding-left: 47.8px;
    padding-right: 49px;
    
}

.sidebar h2 {
    background-color:#404040;
    text-align: center;
    color: #FECA07;
    padding-top: 15.9px;
    padding-bottom: 11.9px;
}
#sidebar-contact p {
    /* margin: 0px 49px 0px 47.8px; */
    /* padding-left: 47.8px; */
    
    

}

#sidebar-apropos {
    text-align: justify;
    height: 600px;
    
}

#sidebar-loisirs ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

li {
    display: flex;
    color: #404040;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30.8px;
    margin-left: 30px;
    /* margin-right: 63.4px; */
    margin-bottom: 39.2px ;
    font-size: x-large;
    border: solid #404040;
    border-radius: 60%;
    padding: 5px 2px ;
    
}



#contenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 64.8px;
    width: auto;
}

.element-cv {
    /* margin-top: 355.9px;
    margin-left: 0px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: red; */
}



.element-cv-date{

}

.element-cv-description {

}


.element-cv h2 {
   border-bottom: solid #FECA07;
}

.element-cv-main-puce {
    

}

.element-cv-second-puce {

}


#element-cv-formation {
    margin-top: 120.5px;
    


}

#element-cv-experiencepro {

}

#element-cv-recommandation {

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.cv-recommandation {
    display: flex;
    flex-direction: ;
    background-color: seagreen;
    margin-top: 50px;

}



@media screen and (max-width: 480px){
    
   
}

@media screen and (max-width: 768px){
    
    

}

@media (max-width : 1600px) {
    

}

