body{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;;
}

h1 , h2 {
    font-family: 'Roboto', sans-serif;
}

li {
   display: flex;
   flex-basis:60px;
}

#conteneur {
    margin-left: 50px;
    margin-top: 50px; 
}

header h1 {
    text-transform: uppercase;
}

header h1 span {
    color: #FF9800;
}

header p {
    font-weight: bold;
    
}

header p span {
    text-decoration: underline #FF9800 ;
    
    
    
    
}


.avatar {
   display: flex;
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;
   border-radius: 50%;

}

#sidebar {
    background-color: #FF9800;
    flex-basis: 15%;
}

#sidebar h2 {
    color: orange;
    text-align: center;
    background-color: black;
    text-transform: uppercase;
}

.element-sidebar {
    margin-left: 30px;
}

.element-sidebar p {
    display: flex;
    flex-flow: column;
    margin-right: 30px;
    
}

.element-sidebar ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    
}

.about {
    text-align: justify;
    height: 400px;
   
        
    }

.element-cv-principal {
    margin-top: 120px;
}

.element-cv-date {
    float: left;
    /* display: flex;
    flex-direction:column ;
    height: 100px; */
}

.element-cv-description {
    margin: 0px  0px 0px 160px;
    /* flex-direction: column; */
    /* display: flex;
    flex-direction:column ;
    align-content: right; */
}

.element-cv h2 {
    text-transform: uppercase;
    border-bottom:solid 0.1em #FF9800;
}

.element-cv-recommadation {

}

@media screen and (min-width: 480px){
   
}

@media screen and (max-width: 760px){

}

@media (max-width : 1600px) {

}

